## **Execicios de fixação**
#### **Executar/Completar os trechos de código a seguir para responder às questões objetivas. Complete-os de forma que o resultado da execução da função print seja igual ao da imagem correspondente**

In [1]:
# Importando bibliotecas
import numpy as np
import pandas as pd

In [2]:
# Codigo #1
z = np.zeros((4,))
print("Z: ", z)

Z:  [0. 0. 0. 0.]

In [3]:
# Codigo #2
z = np.zeros((4,))
z[1] = 1
z[3] = 7
print("Z: ", z)

Z:  [0. 1. 0. 7.]

In [4]:
# Codigo #3
Z = np.zeros((4,))
z[1:] = 1
print("z: ", z)

z:  [0. 1. 1. 1.]

In [5]:
# Codigo #4
z = np.zeros((4,))
z[:-1] = 1
print("z: ", z)

z:  [1. 1. 1. 0.]

In [6]:
# Codigo #5
z = np.zeros((2,2))
z[:] = 2
print("x: \n", z)

x:
 [[2. 2.]
 [2. 2.]]

In [9]:
# Codigo #6
r = np.array([[1,2],[3,4]])
y = r[0, :]
y[1] = 10
print("r: \n", r)

r:
 [[ 1 10]
 [ 3  4]]

In [10]:
# Codigo #7
x = np.array([[1,3], [11,10]])
print(np.mean(x[x > np.pi]))

10.5

In [11]:
# Codigo #8
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog',
        'cat', 'snake', 'cat', 'dog', 'dog'],

        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],

        'visits': [1, 3, 2, 3, 2, 3, 2, 3, 1, 1],

        'priority': ['yes', 'yes', 'no', 'yes', 'no',
                     'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

pd.DataFrame(data=data, index=labels)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       2       no
h    cat  NaN       3      yes
i    dog  7.0       1       no
j    dog  3.0       1       no

In [12]:
# Codigo #9
df = pd.DataFrame(data=data, index=labels)
df.shape

(10, 4)

In [13]:
# Codigo #10
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [14]:
# Codigo #11
M = df['age'].mean()
print("A media de idade é: ", M)

A media de idade é:  3.4375

In [15]:
# Codigo #12
df.sort_values(by = 'age', ascending= False)

  animal  age  visits priority
i    dog  7.0       1       no
e    dog  5.0       2       no
g  snake  4.5       2       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       3      yes

In [16]:
# Codigo #13
y_true = np.array([1., 2., 1.])
y_pred = np.array([1.1, 1.98, 1.05])

np.sqrt(((y_true-y_pred)**2).mean())

0.06557438524302006

In [17]:
# Codigo #14
y_true = np.array([1., 2., 1.])
y_pred = np.array([1.1, 1.98, 1.05])

np.sqrt(((y_true == y_pred)**2).mean())

0.0