In [30]:
# importando as bibliotecas
import pandas as pd

In [31]:
excel_file = pd.ExcelFile("C:/Users/odair.colares/Documents/AnalistaDeDados/Olipiadas2021/Athletes.xlsx")
df = pd.read_excel(excel_file, sheet_name='Details')
df

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

In [36]:
#df[df['Team/NOC'] == 'Japan'].groupby(['Gold']).Total.mean().reset_index()
#df.loc[df['Team/NOC'] == 'Japan']
#df.loc[0:10, ['Team/NOC', 'Gold']]
#df = df.set_index('Rank')
#df[['Team/NOC','Gold','Silver','Bronze']].head(11).plot.bar();
df[(df.NOC == 'Brazil') & ((df.Discipline == 'Artistic Gymnastics') | (df.Discipline == 'Shooting'))]

TypeError: 'tuple' object is not callable