In [3]:
# importando as bibliotecas
import pandas as pd
import plotly.express as px

In [7]:
excel_file = pd.ExcelFile("C:/Users/odair.colares/Documents/AnalistaDeDados/bike.xlsx")
df = pd.read_excel(excel_file, sheet_name='bike-sharing')
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [ ]:
# Tamanho desse dataset (número de linhas, número de colunas)? 
df.shape

In [ ]:
# Qual a média da coluna windspeed? 
df['windspeed'].mean().round(2)

In [ ]:
#Qual a média da coluna temp?
df['temp'].mean().round(3)

In [ ]:
# Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)? 
df[df.year == 0].shape
# Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?
df[df.year == 1].shape

In [ ]:
# Quantas locações de bicicletas foram efetuadas em 2011?
df[df.year == 0].total_count.sum()

In [ ]:
# Quantas locações de bicicletas foram efetuadas em 20121? 
df[df.year == 1].total_count.sum()

In [ ]:
# Qual estação do ano contém a maior média de locações de bicicletas? HELP SITE
df2 = df.groupby(['season']).total_count.mean().round(3).sort_values(ascending=False).reset_index()
px.bar(df2, x='total_count', y= 'season')

In [ ]:
# Qual estação do ano contém a menor média de locações de bicicletas? 
df.groupby(['season']).total_count.mean().round(3).sort_values(ascending=True).reset_index()

In [ ]:
# Qual horário do dia contém a maior média de locações de bicicletas?
df.groupby(['hour']).total_count.mean().round(2).sort_values(ascending=False).reset_index()

In [ ]:
# Qual horário do dia contém a menor média de locações de bicicletas?
df.groupby(['hour']).total_count.mean().round(2).sort_values(ascending=True).reset_index()

In [ ]:
# Que dia da semana contém a maior média de locações de bicicletas? 
df.groupby(['weekday']).total_count.mean().round(2).sort_values(ascending=False).reset_index()

In [ ]:
# Que dia da semana contém a menor média de locações de bicicletas? 
df.groupby(['weekday']).total_count.mean().round(2).sort_values(ascending=True)

In [ ]:
#Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas? 
df[df.weekday == 3].groupby(['hour']).total_count.mean().round(2).sort_values(ascending=False).reset_index()

In [19]:
# Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas? 
df2 = df[df.weekday == 6].groupby(['hour']).total_count.mean().round(2).sort_values(ascending=False).reset_index()

In [ ]:
df[df.is_holiday == 0]