In [17]:
import pandas as pd

In [18]:
# Carregando DateSet
excel_file = pd.ExcelFile(r"C:\Users\odair.colares\Documents\AnalistaDeDados\houseBrazilian\houses_to_rent_v2.xlsx")
df = pd.read_excel(excel_file, sheet_name='houses_to_rent_v2')
# Renomear as colunas desejadas.
df = df.rename({'city': 'Cidade', 'area': 'Area', 'rooms': 'Quartos', 'bathroom': 'Banheiro', 'parking spaces': 'Vagas Grm', 'floor': 'Andar', 'animal': 'Animal', 'furniture': 'Mobiliado', 'hoa (R$)': 'Condominio(R$)', 'rent amount (R$)': 'Aluguel(R$)', 'property tax (R$)': 'IPTU(R$)',
'fire insurance (R$)': 'Seguro Incendio(R$)', 'total (R$)': 'Total(R$)'}, axis = 1)
# Substituir multiplos texto em uma coluna.
df['Cidade'] = df['Cidade'].str.replace('SÃ£o Paulo', 'São Paulo')
df['Animal'] = df['Animal'].str.replace('acept', 'Permitido')
df['Animal'] = df['Animal'].str.replace('not Permitido', 'Nào Permitido')
df['Mobiliado'] = df['Mobiliado'].str.replace('furnished', 'Mobilhado')
df['Mobiliado'] = df['Mobiliado'].str.replace('not Mobilhado', 'Nào Mobilhado')
df
#df.sort_values(['Cidade', 'Aluguel(R$)']).head(15).reset_index().plot()

,Cidade,Area,Quartos,Banheiro,Vagas Grm,Andar,Animal,Mobiliado,Condominio(R$),Aluguel(R$),IPTU(R$),Seguro Incendio(R$),Total(R$)
0,São Paulo,70,2,1,1,7,Permitido,Mobilhado,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,Permitido,Nào Mobilhado,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,Permitido,Nào Mobilhado,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,Permitido,Nào Mobilhado,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,Nào Permitido,Nào Mobilhado,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,Porto Alegre,63,2,1,1,5,Nào Permitido,Mobilhado,402,1478,24,22,1926
10688,São Paulo,285,4,4,4,17,Permitido,Nào Mobilhado,3100,15000,973,191,19260
10689,Rio de Janeiro,70,3,3,0,8,Nào Permitido,Mobilhado,980,6000,332,78,7390
10690,Rio de Janeiro,120,2,2,2,8,Permitido,Mobilhado,1585,12000,279,155,14020
10691,São Paulo,80,2,1,0,-,Permitido,Nào Mobilhado,0,1400,165,22,1587

In [ ]:
# Filtrar coluna por parte do nome.
df.filter(like='do')

In [ ]:
# Qnts casa tem 01 quarto?
df[df['Quartos'] == 1].shape

In [ ]:
# Quantas casas estão no 1 andar?
df[df['Andar'] == 1].shape

In [ ]:
# Qnts casas tem mais de 2 banheiros?
df[df['Banheiro'] > 2].shape

In [ ]:
# Quantos quartos em media, as casas possuem?
df['Quartos'].mean().round(2)

In [ ]:
# Quais os preços medios das casas?
df['Total(R$)'].mean().round(2, )

In [ ]:
# Qual o desvio padrão de preços das casas?
df['Total(R$)'].skew().round(2)

In [27]:
# Qual a media de preço de casas e seus atributos em SP em ordem crescente? 
#df[df['Cidade'] == 'São Paulo'].groupby('Total(R$)').mean().sort_values(by = ['Area'], ascending=False).reset_index()
# Operadores e vetores logicos (==, &, |)
df[(df.Animal == 'Permitido') & ((df.Cidade == 'Porto Alegre') | (df.Cidade == 'Rio de Janeiro'))].sort_values(by='Total(R$)')

,Cidade,Area,Quartos,Banheiro,Vagas Grm,Andar,Animal,Mobiliado,Condominio(R$),Aluguel(R$),IPTU(R$),Seguro Incendio(R$),Total(R$)
5876,Rio de Janeiro,30,1,1,1,3,Permitido,Nào Mobilhado,0,500,0,7,507
9317,Rio de Janeiro,30,1,1,1,3,Permitido,Nào Mobilhado,0,500,0,7,507
4950,Porto Alegre,60,2,1,1,-,Permitido,Nào Mobilhado,0,540,0,10,550
1219,Porto Alegre,60,2,1,1,-,Permitido,Nào Mobilhado,0,540,0,10,550
5027,Rio de Janeiro,20,1,1,0,2,Permitido,Nào Mobilhado,0,600,0,8,608
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,Porto Alegre,563,3,6,4,12,Permitido,Nào Mobilhado,5200,15000,1250,220,21670
1915,Rio de Janeiro,650,5,7,4,-,Permitido,Mobilhado,4100,15000,4241,229,23570
6243,Rio de Janeiro,95,2,2,1,11,Permitido,Nào Mobilhado,1024,3000,28120,39,32180
1444,Porto Alegre,42,1,1,0,10,Permitido,Nào Mobilhado,32000,700,40,11,32750
2928,Rio de Janeiro,35,1,1,0,1,Permitido,Mobilhado,81150,4500,9900,58,95610