In [1]:
# importando as bibliotecas
import pandas as pd

In [2]:
excel_file = pd.ExcelFile("C:/Users/odair.colares/Documents/AnalistaDeDados/Olipiadas2021/Medals.xlsx")
df = pd.read_excel(excel_file, sheet_name='Details')
df

C:\Program Files\Python38\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Rank,Team/NOC,Gold,Silver,Bronze,Total,Rank by Total
0,1,United States of America,39,41,33,113,1
1,2,People's Republic of China,38,32,18,88,2
2,3,Japan,27,14,17,58,5
3,4,Great Britain,22,21,22,65,4
4,5,ROC,20,28,23,71,3
...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77
89,86,Grenada,0,0,1,1,77
90,86,Kuwait,0,0,1,1,77
91,86,Republic of Moldova,0,0,1,1,77
92,86,Syrian Arab Republic,0,0,1,1,77

In [ ]:
#df[df['Team/NOC'] == 'Japan'].groupby(['Gold']).Total.mean().reset_index()
#df.loc[df['Team/NOC'] == 'Japan']
#df.loc[0:10, ['Team/NOC', 'Gold']]
df = df.set_index('Rank')
df[['Team/NOC','Gold','Silver','Bronze']].head(11).plot.bar();