In [1]:
# importando as bibliotecas
import pandas as pd

In [2]:
excel_file = pd.ExcelFile("C:/Users/odair.colares/Documents/AnalistaDeDados/bike.xlsx")
df = pd.read_excel(excel_file, sheet_name='bike-sharing')
df

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [39]:
# Tamanho desse dataset (número de linhas, número de colunas)? 
df.shape

(17379, 17)

In [40]:
# Qual a média da coluna windspeed? 
df['windspeed'].mean().round(2)

0.19

In [41]:
#Qual a média da coluna temp?
#df.describe().round(3)
df['temp'].mean().round(3)

0.497

In [44]:
# Quantos registros de locações existem para o ano de 2011 (número de linhas, número de colunas)? 
df[df.year == 0].shape
# Quantos registros de locações existem para o ano de 2012 (número de linhas, número de colunas)?
df[df.year == 1].shape

(8645, 17)

In [45]:
# Quantas locações de bicicletas foram efetuadas em 2011?
df[df.year == 0].total_count.sum()

1243103

In [46]:
# Quantas locações de bicicletas foram efetuadas em 20121? 
df[df.year == 1].total_count.sum()

2049576

In [ ]:
# Qual estação do ano contém a maior média de locações de bicicletas? HELP SITE
df.groupby(['season']).total_count.mean().round(3).sort_values(ascending=False).reset_index()

In [ ]:
# Qual estação do ano contém a menor média de locações de bicicletas? 
df.groupby(['season']).total_count.mean().round(3).sort_values(ascending=True).reset_index()

In [ ]:
# Qual horário do dia contém a maior média de locações de bicicletas?
df.groupby(['hour']).total_count.mean().round(2).sort_values(ascending=False).reset_index()

In [ ]:
# Qual horário do dia contém a menor média de locações de bicicletas?
df.groupby(['hour']).total_count.mean().round(2).sort_values(ascending=True).reset_index()

In [ ]:
# Que dia da semana contém a maior média de locações de bicicletas? 
df.groupby(['weekday']).total_count.mean().round(2).sort_values(ascending=False).reset_index()

In [ ]:
# Que dia da semana contém a menor média de locações de bicicletas? 
df.groupby(['weekday']).total_count.mean().round(2).sort_values(ascending=True)

In [ ]:
#Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas? 
df[df.weekday == 3].groupby(['hour']).total_count.mean().round(2).sort_values(ascending=False)

In [4]:
# Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas? 
df[df.weekday == 6].groupby(['hour']).total_count.mean().round(2).sort_values(ascending=False).reset_index()

hour
13    385.37
15    382.43
14    381.33
12    375.38
16    366.14
17    334.41
11    328.61
18    292.05
10    263.72
19    239.93
9     186.79
20    180.87
21    156.00
22    139.66
23    115.86
8     114.48
0      94.30
1      67.78
2      50.50
7      45.96
3      22.89
6      21.00
5       8.29
4       7.66
Name: total_count, dtype: float64

In [63]:
df.head(10)

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,2011-01-01,6,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,2011-01-01,7,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,2011-01-01,8,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,2011-01-01,9,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,2011-01-01,10,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14

In [3]:
df[df.is_holiday == 0]

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
372,2011-01-17,373,1,0,1,0,1,1,0,2,0.20,0.1970,0.47,0.2239,1,16,17
373,2011-01-17,374,1,0,1,1,1,1,0,2,0.20,0.1970,0.44,0.1940,1,15,16
374,2011-01-17,375,1,0,1,2,1,1,0,2,0.18,0.1667,0.43,0.2537,0,8,8
375,2011-01-17,376,1,0,1,3,1,1,0,2,0.18,0.1818,0.43,0.1940,0,2,2
376,2011-01-17,377,1,0,1,4,1,1,0,2,0.18,0.1970,0.43,0.1343,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17230,2012-12-25,17231,1,1,12,19,1,2,0,2,0.32,0.3030,0.66,0.2239,16,20,36
17231,2012-12-25,17232,1,1,12,20,1,2,0,2,0.32,0.3030,0.66,0.2836,11,29,40
17232,2012-12-25,17233,1,1,12,21,1,2,0,2,0.30,0.2879,0.65,0.1940,8,26,34
17233,2012-12-25,17234,1,1,12,22,1,2,0,2,0.30,0.3030,0.70,0.1642,3,16,19
17234,2012-12-25,17235,1,1,12,23,1,2,0,2,0.28,0.2727,0.65,0.2537,4,26,30