In [1]:
# importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# leitura de planilhas excel
# 2 abas (worksheets)
# leitura do arquivo todo
excel_file = pd.ExcelFile("C:/Users/odair.colares/Documents/AnalistaDeDados/temperature.xlsx")
df = pd.read_excel(excel_file, sheet_name='temperature')
df
#df ['date'] = pd.to_datetime(df['date'])
#Setar o novo index.
#df = df.set_index('date')
#df.sort_values(['date'], ascending=True)

         date  temperatura_1  temperatura_2 classification
0  2020-01-11           35.3           15.0         quente
1  2020-01-07           34.3           20.0         quente
2  2020-01-12           31.4           22.0   muito quente
3  2020-01-02           31.2           23.0   muito quente
4  2020-01-01           29.1           24.0         quente
5  2020-01-13           28.7           25.0         quente
6  2020-01-03           28.5           10.6         quente
7  2020-01-06           23.2           23.2           frio
8  2020-01-08           10.6           28.5   muito quente
9  2020-01-04           25.0           28.7         quente
10 2020-01-05           24.0           29.1    confortavel
11 2020-01-09           23.0           31.2         quente
12 2020-01-10           22.0           31.4       quente á
13 2020-01-15           20.0           34.3         quente
14 2020-01-14           15.0           35.3       quente á

In [ ]:
x1 = df.index
y1 = df['temperatura_1']
x2 = df.index
y2 = df['temperatura_2']
plt.plot(x1,y1, 'o--b')
plt.plot(x2,y2, 'o--y')
plt.xticks(rotation=90);

In [ ]:
#Gerando copia do df
df1 = df.copy()

In [ ]:
# Transforma tipo da coluna de date para datetime.
df ['date'] = pd.to_datetime(df['date'])
#Setar o novo index.
df = df.set_index('date')
df

In [ ]:
# Visualizar dados em graficos
df.plot();
#Ajustar o tamanho do plot (horizotal, vertical) com grid.
#df.plot(figsize=(10,5), grid=True);

In [ ]:
#Customizando plot com metodo style: Estilo, tamanho do quadro, expessura da linha, cor, gride visivel.
df.plot(style = '--o',figsize=(13,7) ,linewidth=1 ,color= 'blue' ,grid=True );

In [ ]:
# Contagem de numeros de vezes de certo elemento em texto (ou categorico)
df['classification'].value_counts()

In [ ]:
#Fazer o plot barras desse valores categoricos
df['classification'].value_counts().plot.bar(figsize=(10,5), rot=0);

In [ ]:
#Plot de pizza
df['classification'].value_counts().plot.pie(autopct= '%1.1f%%',figsize= (15,5) , rot=0);

In [ ]:
#Agrupamento de colunas passando alguma função: Sum(), mean() etc, etc...
df.groupby(by= 'classification').sum()

In [ ]:
# Deletar coluna ou linha
df.drop('temperatura', axis=1)