<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

###  **üë®üèΩ‚Äçüíª_Desafio DataScience_üë®üèΩ‚Äçüíª.**

### <div class="container">
   <p class="text-warning">‚ö†Ô∏è‚ö†Ô∏èRealizar a an√°lise de uma base de dados real utilizando Python e conceitos de datascience‚ö†Ô∏è‚ö†Ô∏è.</p>
</div>

### **_Responder as seguintes quest√µes:_**
#### a. Qual o tamanho desse dataset? ‚úÖ
#### b. Qual a m√©dia da coluna windspeed? ‚úÖ
#### c. Qual a m√©dia da coluna temp? ‚úÖ
#### d. Quantos registros existem para o ano de 2011? ‚úÖ
#### e. Quantos registros existem para o ano de 2012? ‚úÖ
#### f. Quantas loca√ß√µes de bicicletas foram efetuadas em 2011? ‚úÖ
#### g. Quantas loca√ß√µes de bicicletas foram efetuadas em 2012? ‚úÖ
#### h. Qual esta√ß√£o do ano cont√©m a maior m√©dia de loca√ß√µes de bicicletas? ‚úÖ
#### i. Qual esta√ß√£o do ano cont√©m a menor m√©dia de loca√ß√µes de bicicletas? ‚úÖ
#### j. Qual hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas? ‚úÖ
#### k. Qual hor√°rio do dia cont√©m a menor m√©dia de loca√ß√µes de bicicletas? ‚úÖ
#### l. Que dia da semana cont√©m a maior m√©dia de loca√ß√µes de bicicletas?  ‚úÖ
#### m. Que dia da semana cont√©m a menor m√©dia de loca√ß√µes de bicicletas?  ‚úÖ
#### n. √Äs quartas-feiras (weekday = 3), qual o hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas? ‚úÖ
#### o. Aos s√°bados (weekday = 6), qual o hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas? ‚úÖ

In [1]:
# Importando bibliotecas
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [6]:
# Qual o tamanho desse dataset?
t = df.shape
print("O tamanho do Dataset √©: ", t)

O tamanho do Dataset √©:  (17379, 17)

In [13]:
# Qual a m√©dia da coluna windspeed?
m = df['windspeed'].mean().round(4)
print("A media da coluna windspeed ser√°: ", m)

A media da coluna windspeed ser√°:  0.1901

In [15]:
# Qual a m√©dia da coluna temp?
m = df['temp'].mean().round(4)
print("A media da coluna temp ser√°: ", m)

A media da coluna temp ser√°:  0.497

In [78]:
# Quantos registros existem para o ano de 2011 e 2012?
df['year'].value_counts() #TRAS A CONTAGEM SIMPLES DA COLUNA YEAR (0 = 2011, 1 = 2012)

#df.loc[df['year'] == 1].value_counts() #TRAS O DATASET COMPLETO SOMENTE COM O FILTRO DA COLUNA YEAR (0 = 2011, 1 = 2012)

1    8734
0    8645
Name: year, dtype: int64

In [94]:
# Quantas loca√ß√µes de bicicletas foram efetuadas em 2011 e 2012?
# YEAR (0 = 2011, 1 = 2012)
df.loc[df["year"] == 1, "total_count"].sum()

2049576

In [75]:
# Qual esta√ß√£o do ano cont√©m a MAIOR e MENOR m√©dia de loca√ß√µes de bicicletas?
# Esta√ß√µes do ano:
# 1: inverno,
# 2: primavera, 
# 3: ver√£o, 
# 4: outono.

df.groupby('season')['total_count'].mean().sort_values(ascending=False)

season
3    236.016237
2    208.344069
4    198.868856
1    111.114569
Name: total_count, dtype: float64

In [76]:
# Qual hor√°rio do dia cont√©m a MAIOR e MENOR m√©dia de loca√ß√µes de bicicletas?
# Os hrs s√£o apresentados de 0 a 23 na coluna HOUR.
df.groupby("hour")["total_count"].mean().sort_values(ascending=False)

hour
17    461.452055
18    425.510989
8     359.011004
16    311.983562
19    311.523352
13    253.661180
12    253.315934
15    251.233196
14    240.949246
20    226.030220
9     219.309491
7     212.064649
11    208.143054
10    173.668501
21    172.314560
22    131.335165
23     87.831044
6      76.044138
0      53.898072
1      33.375691
2      22.869930
5      19.889819
3      11.727403
4       6.352941
Name: total_count, dtype: float64

In [82]:
# Que dia da semana cont√©m a MAIOR E MENOR m√©dia de loca√ß√µes de bicicletas?
# weekday (dia da semana):
# 0: domingo, 
# 1: segunda-feira,
# 2: ter√ßa-feira,
# 3: quarta-feira,
# 4: quinta-feira,
# 5: sexta-feira,
#  ‚Ä¶, 6: s√°bado).

df.groupby("weekday")["total_count"].mean().sort_values(ascending=False)

weekday
4    196.436665
5    196.135907
2    191.238891
3    191.130505
6    190.209793
1    183.744655
0    177.468825
Name: total_count, dtype: float64

In [91]:
# √Äs quartas-feiras (weekday = 3), qual o hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas?
df.loc[df["weekday"] == 3].groupby("hour")["total_count"].mean().sort_values(ascending=False)

hour
17    513.144231
18    494.029126
8     488.326923
19    357.504854
7     303.980769
16    272.961538
20    256.660194
9     238.528846
21    194.669903
12    193.903846
13    185.826923
15    181.288462
14    170.548077
11    152.201923
22    143.689320
10    131.894231
6     107.807692
23     83.737864
0      34.557692
5      25.750000
1      15.336538
2       7.813725
4       4.968750
3       4.888889
Name: total_count, dtype: float64

In [92]:
# Aos s√°bados (weekday = 6), qual o hor√°rio do dia cont√©m a maior m√©dia de loca√ß√µes de bicicletas?
df.loc[df["weekday"] == 6].groupby("hour")["total_count"].mean().sort_values(ascending=False)

hour
13    385.371429
15    382.428571
14    381.333333
12    375.380952
16    366.142857
17    334.409524
11    328.609524
18    292.048077
10    263.723810
19    239.932692
9     186.790476
20    180.865385
21    156.000000
22    139.663462
23    115.855769
8     114.476190
0      94.304762
1      67.780952
2      50.495238
7      45.961905
3      22.885714
6      21.000000
5       8.291262
4       7.657143
Name: total_count, dtype: float64