In [1]:
import pandas as pd
import plotly.express as px

In [2]:
# Carregando DateSet
excel_file = pd.ExcelFile(r"C:\Users\odair.colares\Documents\1_AnalistaDeDados\houseBrazilian\houses_to_rent_v2.xlsx")
df = pd.read_excel(excel_file, sheet_name='houses_to_rent_v2')
# Renomear as colunas desejadas.
df = df.rename({'city': 'Cidade', 'area': 'Area', 'rooms': 'Quartos', 'bathroom': 'Banheiro', 'parking spaces': 'Vagas Grm', 'floor': 'Andar', 'animal': 'Animal', 'furniture': 'Mobiliado', 'hoa (R$)': 'Condominio(R$)', 'rent amount (R$)': 'Aluguel(R$)', 'property tax (R$)': 'IPTU(R$)',
'fire insurance (R$)': 'Seguro Incendio(R$)', 'total (R$)': 'Total(R$)'}, axis = 1)
# Substituir multiplos texto em uma coluna.
df['Cidade'] = df['Cidade'].str.replace('SÃ£o Paulo', 'São Paulo')
df['Animal'] = df['Animal'].str.replace('acept', 'Permitido')
df['Animal'] = df['Animal'].str.replace('not Permitido', 'Nào Permitido')
df['Mobiliado'] = df['Mobiliado'].str.replace('furnished', 'Mobilhado')
df['Mobiliado'] = df['Mobiliado'].str.replace('not Mobilhado', 'Nào Mobilhado')
df.head(3)
#df.sort_values(['Cidade', 'Aluguel(R$)']).head(15).reset_index().plot()

,Cidade,Area,Quartos,Banheiro,Vagas Grm,Andar,Animal,Mobiliado,Condominio(R$),Aluguel(R$),IPTU(R$),Seguro Incendio(R$),Total(R$)
0,São Paulo,70,2,1,1,7,Permitido,Mobilhado,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,Permitido,Nào Mobilhado,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,Permitido,Nào Mobilhado,1000,2800,0,41,3841

In [ ]:
df['Area'].value_counts().reset_index()
px.histogram(df, x='Vagas Grm', color='Cidade', title= 'Histograma relação vagas por cidades')
#df2 = df.groupby(['Cidade', 'Area']).size() #Contar N valores dentro de uma colunas 
#df2 = df['Cidade'].value_counts()
#px.bar(df2, x=None, y='Cidade', color='Cidade', title='Cidade com maior disponibilidades de locações')
#df2 = df[df['Cidade'] == 'São Paulo'].reset_index()
#df2[['Cidade','Area']].value_counts().reset_index()
#px.histogram(df2, x='Area', y=None)

In [ ]:
# Media de locação de alugueis?
df2 = df.groupby('Cidade', sort=False).mean().round(2).reset_index()
px.bar(df2, x='Cidade', y='Aluguel(R$)', color='Condominio(R$)')

In [ ]:
df[['Cidade', 'Area', 'Aluguel(R$)']]

In [ ]:
# Filtrar coluna por parte do nome.
df.filter(like='do')

In [ ]:
# Qnts casa tem 01 quarto?
df[df['Quartos'] == 1].shape

In [ ]:
# Quantas casas estão no 1 andar?
df[df['Andar'] == 1].shape

In [ ]:
# Qnts casas tem mais de 2 banheiros?
df[df['Banheiro'] > 2].shape

In [ ]:
# Quantos quartos em media, as casas possuem?
df['Quartos'].mean().round(2)

In [ ]:
# Quais os preços medios das casas?
df['Total(R$)'].mean().round(2, )

In [ ]:
# Qual o desvio padrão de preços das casas?
df['Total(R$)'].skew().round(2)

In [ ]:
# Qual a media de preço de casas e seus atributos em SP,PA e RJ em ordem crescente? 
#df[df['Cidade'] == 'São Paulo'].groupby('Total(R$)').mean().sort_values(by = ['Area'], ascending=False).reset_index()
# Operadores e vetores logicos (==, &, |)
df[(df.Animal == 'Permitido') & ((df.Cidade == 'Porto Alegre') | (df.Cidade == 'Rio de Janeiro'))].sort_values(by='Total(R$)')